@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'JetBrains Mono';
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

header > h1 {
  text-align: center;
}

header > #BristolLogo {
  margin: 0 auto;
  max-height: 150px;
}

body {
  display: grid;
  grid-template-columns: 1; /* various gadgets, one at a time */
  margin: 0 auto;
  max-width: 960px;
  color: white;
  background-color: black;
}

body > h1 {
  text-align: center;
}

#timetables {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.degree > .title {
  height: 3em;
  font-size: 0.9em;
  text-align: center;
}

.nice-button {
    text-align: center;
    padding: 0.5em;
    margin: 1em;
    background: black;
    color: #ffffff;
    border: 0.5em ridge rgb(131, 18, 18);
}